body {
    background: url("../images/Top-Shapes.png") #051e46 no-repeat top;
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
}

.email {
    margin: 50px auto;
    display: block;
    width: 500px;
    text-shadow: 2px 2px 3px;
    position: relative;
}

.image img {
    margin: 140px auto;
    display: block;
}

.text {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    width: 500px;
    margin: 0 auto;
}

#textarea {
    width: 90%;
    height: 47px;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
    box-shadow: -4px 6px 7px;
    padding: 0 5%;
}

#bottom {
    padding: 5px 10px 10px 10px;
    border-radius: 500px;
    border-color: #0C3668;
    border-style: solid;
    border-width: 3px;
    background-color: #076AAB;
    color: white;
    position: absolute;
    top: -5px;
    right: -15px;
    font-weight: bold;
    font-size: 30px;

}

#social {
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
    color: #010B1C;
    text-shadow: 2px 2px 3px;
}

#social li {
    list-style: none;
}

.coll_5 {
    width: 50%;
    float: left;
}

.twitter {
    text-align: left;
    left: 20px;
    position: relative;
}

.facebook {
    text-align: right;
    right: 20px;
    position: relative;
}

#copy {
    width: 300px;
    font-size: 12px;
    margin: 0 auto;
    color: #010B1C;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}
